[tool.pyright]

pythonVersion = "3.12"
typeCheckingMode = "standard"
exclude = [
    "参考资料/**",
    "tests/**"
]
reportMissingTypeStubs = "none"
reportMissingImports = "none"
reportUnknownVariableType = "information"
reportUnknownParameterType = "information"
reportUnknownMemberType = "information"
reportUnknownArgumentType = "information"
reportUntypedBaseClass = "information"
reportOptionalMemberAccess = "warning"
reportAttributeAccessIssue = "error"
reportMissingParameterType = "warning"

# pyright: strict/standard/basic
  # type: ignore


[tool.ruff]

target-version = "py312"
line-length = 88
exclude = [
    ".git/**",
    ".idea/**",
]


[tool.ruff.lint]

select = ["E", "W", "F", "I", "UP", "C4", "B"]


[tool.ruff.format]

quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "lf"

[tool.commitizen]
name = "cz_conventional_commits"
tag_format = "$version"
version_scheme = "pep440"
version_provider = "pep621"
update_changelog_on_bump = true
major_version_zero = true
